/**
 * This file provides the most basic styles.
 */

html,
body {
    margin: 0;
    padding: 0;
    background-color: @ini_background;
    color: @ini_text;
    scroll-behavior: smooth;
}

body {
    font: normal @ini_font_size/@ini_line_height @ini_font_list;
    /* default font size: 100% => 16px; 93.75% => 15px; 87.5% => 14px; 81.25% => 13px; 75% => 12px */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    clear: left;
    font-family: @ini_heading_list;
}

h1 { text-align: center; }

[dir=rtl] h1,
[dir=rtl] h2,
[dir=rtl] h3,
[dir=rtl] h4,
[dir=rtl] h5,
[dir=rtl] h6 {
    clear: right;
}

h1 {
    font-size: 2.4em;
    margin: 0 0 0.444em;
}
h2 {
    font-size: 2em;
    margin: 0 0 0.5em;
    border-bottom: 1px solid @ini_border;
}
h3 {
    font-size: 1.666em;
    margin: 0 0 0.5em;
    border-bottom: 1px solid @ini_border;
}
h4 {
    font-size: 1.4em;
    margin: 0 0 0.4em;
}
h5 {
    font-size: 1.2em;
    margin: 0 0 0.4em;
}
h6 {
    font-size: 1em;
    margin: 0 0 0.4em;
}

/* basic bargins and paddings */
p,
ul,
ol,
dl,
pre,
table,
hr,
blockquote,
figure,
details,
fieldset,
address {
    margin: 0 0 1.4em 0; /* bottom margin = line-height */
    padding: 0;
}

blockquote blockquote {
    margin: 0;
    padding: 0 0.5em;
}

div,
video,
audio {
    margin: 0;
    padding: 0;
}

/* lists */
li,
dd {
    margin: 0 0 .5em 0;
    padding: 0;
}
[dir=rtl] li,
[dir=rtl] dd {
    margin: 0 1.5em 0 0;
}
dt {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

li ul,
li ol,
li dl,
dl ul,
dl ol,
dl dl {
    margin-bottom: 0;
    margin-top: .5rem;
    padding: 0;
}
li li {
    font-size: 100%;
}

ul {
    list-style: square outside;
}
ol {
    counter-reset: item;
    list-style: decimal;
}

.page ul > li {
    padding: 0 0 0 .75em;
    margin-left: 1em;
}
.page ol > li {
    display: grid;
    grid-template-columns: minmax(2.25em, max-content) 1fr;

    &::before {
        padding-right: .75em;
        content: counters(item, ".") ". ";
        counter-increment: item;
    }

    > ol, > ul { grid-column: ~"2/-1"; }

}

// ol ol          { list-style-type: lower-alpha; }
// ol ol ol       { list-style-type: upper-roman; }
// ol ol ol ol    { list-style-type: upper-alpha; }
// ol ol ol ol ol { list-style-type: lower-roman; }

/*____________ tables ____________*/

table {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    border: 1px solid @ini_border;
}

caption {
    caption-side: top;
    text-align: left;
}
[dir=rtl] caption {
    text-align: right;
}

th,
td {
    padding: .3em .5em;
    margin: 0;
    vertical-align: middle;
    border: 1px solid @ini_border;
}
tr:nth-child(2n) {
    background: #fbfbfb;
}
th {
    font-weight: bold;
    background-color: @ini_background_alt;
    text-align: left;
}
[dir=rtl] th {
    text-align: right;
}


/*____________ links ____________*/

a {
    outline: none;
    word-wrap: break-word;
}
a:link,
a:visited {
    text-decoration: none;
    color: @ini_link;
}
a:link:hover,
a:visited:hover,
a:link:focus,
a:visited:focus,
a:link:active,
a:visited:active {
    text-decoration: underline;
}


/* misc */
img {
    border-width: 0;
    vertical-align: bottom;
    height: auto;
}

img,
object,
iframe,
video,
audio,
select {
    max-width: 100%;
}

hr {
    border-top: solid @ini_border;
    border-bottom: solid @ini_background;
    border-width: 1px 0;
    height: 0;
    text-align: center;
    clear: both;
}

del {
    color: @ini_text_alt;
}

pre {
    overflow: auto;
    word-wrap: normal;
    direction: ltr;
    unicode-bidi: bidi-override;
    text-align: left;
}


acronym,
abbr {
    cursor: help;
    border-bottom: 1px dotted;
    font-style: normal;
	text-decoration: none;
}
em acronym,
em abbr {
    font-style: italic;
}

mark {
    background-color: @ini_highlight;
    color: inherit;
}

pre,
code,
samp,
kbd {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Nimbus Mono L", Monaco, "Courier New", monospace;
    /* same font stack should be used for ".dokuwiki table.diff td" in _diff.css */
    font-size: 1em;
    padding: 0 4px;
    border: 1px solid @ini_border;
    direction: ltr;
    text-align: left;
    background-color: @ini_background_alt;
    color: @ini_text
}

pre {
    overflow: auto;
    word-wrap: normal;
    border: 1px solid @ini_border;
    padding: .7em 1em;
}

code {
  white-space: nowrap;
}

blockquote {
    padding: 0.5em;
    border: solid @ini_border;
    background-color: @ini_background_alt;
    border-width: 0 0 0 .25em;
}
[dir=rtl] blockquote {
    border-width: 0 .25em 0 0;
}
q:before,
q:after {
    content: '';
}

sub,
sup {
    font-size: .8em;
    line-height: 1;
}
sub {
    vertical-align: sub;
}
sup {
    vertical-align: super;
}

small {
    font-size: .8em;
}

/*____________ forms ____________*/

/* for all of the form styles, style.ini colours are not used on purpose (except for fieldset border) */

form {
    display: inline;
    margin: 0;
    padding: 0;
}
fieldset {
    padding: .7em 1em 0;
    padding: .7rem 1rem; /* for those browsers understanding :last-child */
    border: 1px solid @ini_text_alt;
}
fieldset > :last-child {
    margin-bottom: 0;
}
legend {
    margin: 0;
    padding: 0 .1em;
}
label {
    vertical-align: middle;
    cursor: pointer;
}

input,
textarea,
button,
select,
optgroup,
option,
keygen,
output,
meter,
progress {
    font: inherit;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    line-height: normal;
    margin: 0;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    max-width: 100%;
}
optgroup {
    font-style: italic;
    font-weight: bold;
}
option {
    font-style: normal;
    font-weight: normal;
}

input,
textarea,
select,
keygen {
    border: 1px solid #ccc;
    box-shadow: inset 0 0 1px #eee;
    border-radius: 2px;
}
input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus,
keygen:active,
keygen:focus {
    border-color: #999;
}
input[type=radio],
input[type=checkbox],
input[type=image] {
    padding: 0;
    border-style: none;
    box-shadow: none;
}

/* all types of buttons */
input[type=submit],
input[type=button],
input[type=reset],
input.button,
a.button,
button,
.qq-upload-button {
    cursor: pointer;
    background: transparent;
    border: 1px solid #333;
    border-radius: 2px;
    padding: .25rem .5rem;
    color: #333;
    transition: all .25s ease;

    &:hover, &:active, &:focus {
        background: #333;
        border-color: #333;
        color: white;
    }
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[disabled],
button[disabled],
select[disabled],
textarea[disabled],
option[disabled],
input[readonly],
button[readonly],
select[readonly],
textarea[readonly] {
    cursor: auto;
    opacity: .5;
    background-color: #eee;
}

::selection {
    color: @ini_background;
    background: @ini_link;
}
