div.dokuwiki div.comment_wrapper {
  background: transparent;

  > h2 {
    border-bottom: none;
    border-top: 1px solid @ini_border;
    margin: 5rem 0 2rem;
  }

  .toolbar {
    display: none;
  }

  .edit {
    height: 4em;
  }
}

div.dokuwiki div.toggle_button {
  margin-top: .5rem;

  &::before {
    content: "";
    clear: both;
    display: table;
  }

  input.button {
    box-shadow: none;
    border: 1px solid @ini_missing;
    font-size: .75rem;
    padding: .125rem .25rem;
    color: @ini_missing;

    &:hover {
      background: @ini_missing;
      color: white;
    }
  }
}

#discussion__comment_preview {
  margin-top: 3rem!important;
  display: block!important;
  border-top: 1px solid @ini_border;
  padding: 0!important;

  h1.sectionedit1 {
    text-align: left;
    font-size: 2rem;
  }
}
