/* vars */
@header_height: 3rem;

/* general */
.btn_icon {
    text-indent: -9999px;
}

aside .icon, header .icon {
    height: 1rem;
    width: 1rem;

    use {
      height: 1rem;
      width: 1rem;
      fill: currentColor;
    }

    button & {
      text-align: center;
      vertical-align: middle;
    }

    // this will center the icon on a icon-only-button
    button &:first-child:last-child {
      display: block;
    }
}

.sidebar,
.breadcrumbs {
    a,
    a.wikilink1 {
        color: @ini_text;
    }
    a:hover,
    a.wikilink1:hover {
        color: @ini_existing;
        text-decoration: none;
    }
    a.wikilink2,
    a.wikilink2:link {
        color: @ini_missing;
        border: none;
    }
}

/* header */
#dokuwiki__header {
    background: @ini_background;
    border-bottom: 1px solid @ini_border;

    h1 {
        margin: 5px 0 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.8em;
        font-family: @ini_heading_list;
        white-space: nowrap;
    }

    a,
    a:link,
    a:hover,
    a:active {
        color: @ini_text;
        text-decoration: none;
    }

    button {
        align-items: center;
        border: 0 none;
        display: flex;
        height: 2rem;
        justify-content: center;
        margin: 0;
        outline: none;
        padding: 0;
        width: 2rem;

        .icon {
            height: 1.125rem;
            width: 1.125rem;
        }
    }

    div.search {
        display: none;
        position: absolute;
        right: .25rem;
        transform: translateY(.25rem);

        button {
            display: none;
        }
        input[type=text] {
            padding: 4px 6px;
        }
    }

    .group {
        display: flex;

        & > * {
            width: initial!important;
            display: flex!important;
            height: @header_height;
            flex-basis: 25%;
            align-items: center;
            float: none!important;
            min-height: unset;
        }

        & > h1 {
            margin: 0;
            font-weight: bold;
            flex-basis: 50%;
            justify-content: center;
        }

        & > .left {
            order: -1;
            justify-content: flex-start;

            button {
                margin-left: 8px;
                &:first-child { margin-left: 16px; }
            }
        }

        & > .right {
            order: 99;
            justify-content: flex-end;
            button {
                margin-right: 4px;
                &:last-child { margin-right: 16px; }
            }
        }
    }
}

/* nav */
#dokuwiki__aside,
#dokuwiki__tools {
    box-sizing: border-box;
    display: none;
    background-color: @ini_background;
    transition: transform 250ms ease;
}
#sidebar_bg {
    display: none;
    background-color: rgba(0, 0, 0, .6);
}

#dokuwiki__aside {
    .js &.hidden {
        transform: translateX(-100%);
    }

    > h1,
    > h2,
    > div.level1,
    > div.level2 {
        padding-left: 8px;
        padding-right: 8px;
        margin: 0 0 8px;
    }
    p,
    pre,
    table,
    hr,
    blockquote,
    figure,
    details,
    fieldset,
    address {
        margin: 0 0 .4em 0;
    }
    p + p {
        margin-top: 1em;
    }
}

.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    h3 {
        font-size: 16px;
        margin-bottom: 0;
        padding: 9px 12px;
        border-bottom: 1px solid @ini_border;
    }
    ul {
        list-style-type: none;
        margin: 0 0 .4em 0;
    }
    li {
        margin: 0;
    }
    li li {
        margin-left: 1em;
    }
    li a {
        display: block;
        padding: 8px 10px;
    }
    li a.urlextern {
        padding: 10px 12px 10px 30px;
        background-position: 10px 10px;
    }
    li a:hover {
        background-color: @ini_background_alt !important;
    }

    div.user {
        padding: 6px 12px;
    }
}

#dokuwiki__tools {
    transition: transform 250ms ease;
    
    .js &.hidden {
        transform: translateX(100%);
    }

    li a {
        height: 30px;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        align-items: center;

        > * {
            display: block;
        }
    }
    li a span {
        display: inline-block;
        vertical-align: top;
        padding: .2em .6em;
    }
    li a,
    li a:hover,
    li a:active,
    li a:visited {
        background-image: none !important;
    }
}


#to_top {
    input.button {
        width: 48px;
        height: 48px;
        border: 0;
        background: transparent url('images/top.png') no-repeat;
        opacity: 0.2;
        text-indent: -9999px;
    }
}

/* content */
#dokuwiki__content {
    margin-top: 40px;

    h1, h2, h3, h4, h5, h6, .fn_top, .fn_bot {
        &:target::before {
            content: "";
            display: block;
            margin-top: -@header_height;
            height: @header_height;
        }
    }

    div.breadcrumbs {
        margin-bottom: 1em;
        padding: 0.4em 1em;
        opacity: 0.4;
    }
    div.breadcrumbs:hover {
        opacity: 1.0;
    }
    div.page {
        padding: 1em;
    }
}

/* footer */
#dokuwiki__footer {
    border-top: 1px solid @ini_border;
    padding: 0.5em 1em;

    div.doc {
        margin-bottom: 1em;
    }
    div.license {
        margin-bottom: 1em;
        font-size: 85%;

        > a {
            float: left;
            margin-right: .5em;
            padding-top: .3em;
        }
        a.urlextern {
            float: left;
            display: block;
            background-position: 0 0.2em;
        }
        :after {
            content: '';
            display: block;
            clear: both;
        }
    }
    div.footer {
        margin: 0 -1em;
        padding: 0.5em 1em;
    }
}


.search-form {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    > * {
      margin: .25rem 0;
    }
    .toggleAssistant {
        order: 3;
        margin-left: auto;
    }
    .advancedOptions {
        flex-basis: 100%;
        order: 4;
    }
    button, input {
        margin-right: 1rem;
    }
}

.search-results-form input[name="q"] {
    line-height: 1;
    padding: .375rem;
    box-sizing: border-box;
}

ul.search_quickhits.search_quickhits.search_quickhits {
    text-align: left!important;
    display: grid;
    @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
    }
    li {
      float: none;
      width: 100%;
    }
}
