.plugin_slider_hasimg {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  width: unset;
}

.plugin_slider_img {
  width: unset !important;
  max-width: unset;
  max-height: 50vh;
  object-fit: contain;
  margin: 1rem;
}

.dokuwiki ul.plugin_slider li.plugin_slider_hasimg div.plugin_slider_content {
  position: initial;
  right: initial;
  bottom: initial;
  max-height: initial;
  max-width: initial;
  padding: 1rem 1rem 0;
  text-align: center !important;
}

.dokuwiki ul.plugin_slider li.plugin_slider_hasimg div.plugin_slider_content *{
  text-align: center !important;
}

.dokuwiki ul.plugin_slider li.plugin_slider_hasimg div.plugin_slider_content *:last-child {
  margin: 0;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: initial;
}
