/* header */

#dokuwiki__site,
#config__manager {
    & > div.success,
    & > div.error {
        position: fixed;
        z-index: 1000;
        width: ~"calc(100% - 1rem)";
        box-sizing: border-box;
        margin: .375rem .5rem;
        top: 0; left: 0;
    }
}

#dokuwiki__header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 102;

    h1 {
        display: inline-block;
        width: 50%;
        text-align: center;
    }
}

/* nav */
.sidebar {
    position: fixed;
    z-index: 104;
    width: @ini_sidebar_width;
    max-width: 66%;
    height: ~"calc(100% - 3rem)";
}

#dokuwiki__aside {
    left: 0;
}

#dokuwiki__tools {
    right: 0;
}

#sidebar_bg {
    position: fixed;
    z-index: 103;
    width: 100%;
    height: 100%;
}
#to_top {
    position: fixed;
    z-index: 101;
    right: 10px;
    bottom: 10px;

    .button {
        background: white;
        border: 1px solid @ini_link;
        color: transparent;
        height: 2rem;
        overflow: hidden;
        transition: all .25s ease;
        width: 2rem;

        &::after {
            color: @ini_link;
            content: '▲' !important;
            font-size: .825rem;
            left: .625rem;
            position: absolute;
            top: .425rem;
            transition: all .25s ease;
        }

        &:hover {
            background: @ini_link;
            border: 1px solid transparent;

            &::after {
                color: white;
            }
        }
    }
}

/* content */
.wrapper {
    margin: 0 auto;
    max-width: @ini_body_width;
}

/* footer */
