@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
        url('font/subset-SourceSansPro-Italic.woff2') format('woff2'),
        url('font/subset-SourceSansPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
        url('font/subset-SourceSansPro-Bold.woff2') format('woff2'),
        url('font/subset-SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amaranth';
    src: local('Amaranth-Bold'),
        url('font/subset-Amaranth-Bold.woff2') format('woff2'),
        url('font/subset-Amaranth-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('font/subset-SourceSansPro-Regular.woff2') format('woff2'),
        url('font/subset-SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'),
        url('font/subset-SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('font/subset-SourceSansPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Amaranth';
    src: local('Amaranth-Regular'),
        url('font/subset-Amaranth-Regular.woff2') format('woff2'),
        url('font/subset-Amaranth-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

